<div class="container">
    <div class="row">
        <div class="col-7 box-shadow">
            <img class="colseven" src="https://morfikirler.com/uploads/cache/reklam-bisikleti-dikkat-cekiyor-ve-hizla-buyuyor_1-825x450.jpg" >
            <div class="temp" >           
                    <a href="/homelifecategory" class="deneme"> bu kategoriye gitmek için tıklayınız</a>
            </div>
        </div>
        <div class="col-3 box-shadow"> 
            <img class="colthree" src="https://morfikirler.com/uploads/cache/reklam-bisikleti-dikkat-cekiyor-ve-hizla-buyuyor_1-825x450.jpg">

        </div>
        <div class="col-7 box-shadow">
            <img class="colseven" src="https://morfikirler.com/uploads/cache/reklam-bisikleti-dikkat-cekiyor-ve-hizla-buyuyor_1-825x450.jpg" >
            <div class="temp" >           
                    <a href="/homelifecategory" class="deneme"> bu kategoriye gitmek için tıklayınız</a>
            </div>
        </div>
        <div class="col-3 box-shadow"> 
            <img class="colthree" src="https://morfikirler.com/uploads/cache/reklam-bisikleti-dikkat-cekiyor-ve-hizla-buyuyor_1-825x450.jpg">

        </div>
        <div class="col-7 box-shadow">
            <img class="colseven" src="https://morfikirler.com/uploads/cache/reklam-bisikleti-dikkat-cekiyor-ve-hizla-buyuyor_1-825x450.jpg" >
            <div class="temp" >           
                    <a href="/homelifecategory" class="deneme"> bu kategoriye gitmek için tıklayınız</a>
            </div>
        </div>
        <div class="col-3 box-shadow"> 
            <img class="colthree" src="https://morfikirler.com/uploads/cache/reklam-bisikleti-dikkat-cekiyor-ve-hizla-buyuyor_1-825x450.jpg">

        </div>
        <div class="col-7 box-shadow">
            <img class="colseven" src="https://morfikirler.com/uploads/cache/reklam-bisikleti-dikkat-cekiyor-ve-hizla-buyuyor_1-825x450.jpg" >
            <div class="temp" >           
                    <a href="/homelifecategory" class="deneme"> bu kategoriye gitmek için tıklayınız</a>
            </div>
        </div>
        <div class="col-3 box-shadow"> 
            <img class="colthree" src="https://morfikirler.com/uploads/cache/reklam-bisikleti-dikkat-cekiyor-ve-hizla-buyuyor_1-825x450.jpg">

        </div>
        
       
    </div>
</div>