.form-box h2 {
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    color: plum;
}
.form-box h2 span {
    font-weight: lighter;
}
.control{
    text-align: center;
}
.buttonAdd{
    border-radius: 2px;
    background-color:plum;
    color:white;
    padding: 5px 70px;
    margin-left: 770px;
    border: none;
    text-align: center;
  }
  .buttonUpdate{
    border-radius: 2px;
    background-color:plum;
    color:white;
    padding: 5px 65px;
    
    margin-left: 770px;
    border: none;
    text-align: center;
  } 
  a {
    text-decoration: solid;
    display: inline-block;
    padding: 8px 16px;
  }
  
  a:hover {
    background-color: lightblue;
    color: white;
  }

  .previous {
    margin-top: 5px;
    margin-left: 20px;
    background-color: plum;
    color: white;
    border: none;
    text-align: center;
    border-radius: 12px;
  }
  