
  <div class="container">

    <div class="row"></div>
      <ngb-carousel style="padding-bottom: 25px;padding-left: 30px;" >
        <ng-template ngbSlide>
          <div class="picsum-img-wrapper">
            <img src="https://images.unsplash.com/photo-1521478706270-f2e33c203d95?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80" alt="Random first slide">
          </div>
          <div class="carousel-caption">
            <h3>First slide label</h3>
            <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
          </div>
        </ng-template>
        <ng-template ngbSlide>
          <div class="picsum-img-wrapper">
            <img src="https://images.unsplash.com/photo-1521478706270-f2e33c203d95?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80" alt="Random second slide">
          </div>
          <div class="carousel-caption">
            <h3>Second slide label</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
          </div>
        </ng-template>
        <ng-template ngbSlide>
          <div class="picsum-img-wrapper">
            <img src="https://images.unsplash.com/photo-1521478706270-f2e33c203d95?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80" alt="Random third slide">
          </div>
          <div class="carousel-caption">
            <h3>Third slide label</h3>
            <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
          </div>
        </ng-template>
      </ngb-carousel>
  
    
  
      <div class="row">
        <div class="col-md-3">
          <button class="bestproduct" (click)="clickButton()">          
          <div class="card mb-4 box-shadow">
            <img class="card-img-top" src="https://images.unsplash.com/photo-1521478706270-f2e33c203d95?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80" alt="Card image cap">
            <div class="card-body">
              <p class="card-text">Akıllı pembe renk saat</p>
              
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star unchecked"></span>
              <span class="fa fa-star unchecked"></span>
              <div class="d-flex justify-content-between align-items-center" style="float: right;">
                <p class="amount">150 TL</p>
                </div>
           
            </div>
          </div>
          </button>
        </div>
        <div class="col-md-3">
          <button class="bestproduct" (click)="clickButton()">          
          <div class="card mb-4 box-shadow">
            <img class="card-img-top" src="https://images.unsplash.com/photo-1521478706270-f2e33c203d95?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80" alt="Card image cap">
            <div class="card-body">
              <p class="card-text">Akıllı pembe renk saat</p>
              
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star unchecked"></span>
              <span class="fa fa-star unchecked"></span>
              <div class="d-flex justify-content-between align-items-center" style="float: right;">
                <p class="amount">150 TL</p>
                </div>
           
            </div>
          </div>
          </button>
        </div>
        <div class="col-md-3">
          <button class="bestproduct" (click)="clickButton()">          
          <div class="card mb-4 box-shadow">
            <img class="card-img-top" src="https://images.unsplash.com/photo-1521478706270-f2e33c203d95?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80" alt="Card image cap">
            <div class="card-body">
              <p class="card-text">Akıllı pembe renk saat</p>
              
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star unchecked"></span>
              <span class="fa fa-star unchecked"></span>
              <div class="d-flex justify-content-between align-items-center" style="float: right;">
                <p class="amount">150 TL</p>
                </div>
           
            </div>
          </div>
          </button>
        </div>
  
        <div class="col-md-3">
          <button class="bestproduct" (click)="clickButton()">          
          <div class="card mb-4 box-shadow">
            <img class="card-img-top" src="https://images.unsplash.com/photo-1521478706270-f2e33c203d95?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80" alt="Card image cap">
            <div class="card-body">
              <p class="card-text">Akıllı pembe renk saat</p>
              
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star unchecked"></span>
              <span class="fa fa-star unchecked"></span>
              <div class="d-flex justify-content-between align-items-center" style="float: right;">
                <p class="amount">150 TL</p>
                </div>
           
            </div>
          </div>
          </button>
        </div>
        <div class="col-md-3">
          <button class="bestproduct" (click)="clickButton()">          
          <div class="card mb-4 box-shadow">
            <img class="card-img-top" src="https://images.unsplash.com/photo-1521478706270-f2e33c203d95?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80" alt="Card image cap">
            <div class="card-body">
              <p class="card-text">Akıllı pembe renk saat</p>
              
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star unchecked"></span>
              <span class="fa fa-star unchecked"></span>
              <div class="d-flex justify-content-between align-items-center" style="float: right;">
                <p class="amount">150 TL</p>
                </div>
           
            </div>
          </div>
          </button>
        </div>
        <div class="col-md-3">
          <button class="bestproduct" (click)="clickButton()">          
          <div class="card mb-4 box-shadow">
            <img class="card-img-top" src="https://images.unsplash.com/photo-1521478706270-f2e33c203d95?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80" alt="Card image cap">
            <div class="card-body">
              <p class="card-text">Akıllı pembe renk saat</p>
              
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star unchecked"></span>
              <span class="fa fa-star unchecked"></span>
              <div class="d-flex justify-content-between align-items-center" style="float: right;">
                <p class="amount">150 TL</p>
                </div>
           
            </div>
          </div>
          </button>
        </div>
  
        <div class="col-md-3">
          <button class="bestproduct" (click)="clickButton()">          
          <div class="card mb-4 box-shadow">
            <img class="card-img-top" src="https://images.unsplash.com/photo-1521478706270-f2e33c203d95?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80" alt="Card image cap">
            <div class="card-body">
              <p class="card-text">Akıllı pembe renk saat</p>
              
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star unchecked"></span>
              <span class="fa fa-star unchecked"></span>
              <div class="d-flex justify-content-between align-items-center" style="float: right;">
                <p class="amount">150 TL</p>
                </div>
           
            </div>
          </div>
          </button>
        </div>
        <div class="col-md-3">
          <button class="bestproduct" (click)="clickButton()">          
          <div class="card mb-4 box-shadow">
            <img class="card-img-top" src="https://images.unsplash.com/photo-1521478706270-f2e33c203d95?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80" alt="Card image cap">
            <div class="card-body">
              <p class="card-text">Akıllı pembe renk saat</p>
              
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star unchecked"></span>
              <span class="fa fa-star unchecked"></span>
              <div class="d-flex justify-content-between align-items-center" style="float: right;">
                <p class="amount">150 TL</p>
                </div>
           
            </div>
          </div>
          </button>
        </div>
     
      </div>
    </div>
    