<div class="container">
    <div class="row">
        <div class="col-7 box-shadow">
            <img class="colseven" src="assets/childhomelife.jpg" >
            <div class="temp" >           
                    <a href="/homelife" class="deneme"> Click here to go to the Home & Life category.</a>
            </div>
        </div>
        <div class="col-3 box-shadow"> 
            <img class="colthree" src="assets/childhome.jpg">

        </div>
        <div class="col-7 box-shadow">
            <img class="colseven" src="assets/childcosmetic.png" >
            <div class="temp" >           
                    <a href="/cosmetic" class="deneme">  Click here to go to the Cosmetic category.</a>
            </div>
        </div>
        <div class="col-3 box-shadow"> 
            <img class="colthree" src="assets/childcosmetic1.jpg">

        </div>
        <div class="col-7 box-shadow">
            <img class="colseven" src="assets/childshoesbag.jpg" >
            <div class="temp" >           
                    <a href="/shoebag" class="deneme">  Click here to go to the Shoe & Bag category.</a>
            </div>
        </div>
        <div class="col-3 box-shadow"> 
            <img class="colthree" src="assets/childshoe.gif">

        </div>
        <div class="col-7 box-shadow">
            <img class="colseven" src="assets/childaccessory.jpg" >
            <div class="temp" >           
                    <a href="/watchesaccessories" class="deneme"> Click here to go to the Watches & Accessories category.</a>
            </div>
        </div>
        <div class="col-3 box-shadow"> 
            <img class="colthree" src="assets/childaccessory1.jpg">

        </div>
        <div class="col-7 box-shadow">
            <img class="colseven" src="assets/childelectronic.jpg" >
            <div class="temp" >           
                    <a href="/electronic" class="deneme">Click here to go to the Electronic category.</a>
            </div>
        </div>
        <div class="col-3 box-shadow"> 
            <img class="colthree" src="assets/watch.gif">

        </div>
        
       
    </div>
</div>