<div class="container">
  <div class="row">
    <div class="col-3">
      
      <h5>Gender</h5  >
     
<label class="genderclass">One
  <input type="checkbox">
  <span class="checkmark"></span>
</label>
<label class="genderclass">Two
  <input type="checkbox">
  <span class="checkmark"></span>
</label>
<br>
<h5>Size</h5  >
     
  <label class="genderclass">Small
    <input type="checkbox">
    <span class="checkmark"></span>
  </label>
  <label class="genderclass">Medium
    <input type="checkbox">
    <span class="checkmark"></span>
  </label>
  <br>
  <h5>Color</h5  >
  <button class="button button1"></button>
  <button class="button button2"></button>
  <button class="button button3"></button>
  <button class="button button4"></button>
  <button class="button button5"></button>
  <button class="button button6"></button>
  <button class="button button7"></button>
  <button class="button button8"></button>
  <button class="button button9"></button>
  <button class="button button10"></button>
  <br>
  <br>
  <h5>Amount</h5 >
    
    <label class="genderclass">0-50 TL
      <input type="checkbox">
      <span class="checkmark"></span>
    </label>
    <label class="genderclass">50-100 TL
      <input type="checkbox">
      <span class="checkmark"></span>
    </label>
    <label class="genderclass">100-150 TL
      <input type="checkbox">
      <span class="checkmark"></span>
    </label>
    <label class="genderclass">150-200 TL
      <input type="checkbox">
      <span class="checkmark"></span>
    </label>
    <label class="genderclass">200- TL
      <input type="checkbox">
      <span class="checkmark"></span>
    </label>
      
  
    </div> 
    <div class="col-9" >
      <div class="row">
        <div class="col-md-3">
          <button class="bestproduct" (click)="clickButton()">          
          <div class="card mb-4 box-shadow">
            <img class="card-img-top" src="https://images.unsplash.com/photo-1521478706270-f2e33c203d95?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80" alt="Card image cap">
            <div class="card-body">
              <p class="card-text">Akıllı pembe renk saat</p>
              
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star unchecked"></span>
              <span class="fa fa-star unchecked"></span>
              <div class="d-flex justify-content-between align-items-center" style="float: right;">
                <p class="amount">150 TL</p>
                </div>
           
            </div>
          </div>
          </button>
        </div>
        <div class="col-md-3">
          <button class="bestproduct" (click)="clickButton()">          
          <div class="card mb-4 box-shadow">
            <img class="card-img-top" src="https://images.unsplash.com/photo-1521478706270-f2e33c203d95?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80" alt="Card image cap">
            <div class="card-body">
              <p class="card-text">Akıllı pembe renk saat</p>
              
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star unchecked"></span>
              <span class="fa fa-star unchecked"></span>
              <div class="d-flex justify-content-between align-items-center" style="float: right;">
                <p class="amount">150 TL</p>
                </div>
           
            </div>
          </div>
          </button>
        </div>
        <div class="col-md-3">
          <button class="bestproduct" (click)="clickButton()">          
          <div class="card mb-4 box-shadow">
            <img class="card-img-top" src="https://images.unsplash.com/photo-1521478706270-f2e33c203d95?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80" alt="Card image cap">
            <div class="card-body">
              <p class="card-text">Akıllı pembe renk saat</p>
              
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star unchecked"></span>
              <span class="fa fa-star unchecked"></span>
              <div class="d-flex justify-content-between align-items-center" style="float: right;">
                <p class="amount">150 TL</p>
                </div>
           
            </div>
          </div>
          </button>
        </div>
  
        <div class="col-md-3">
          <button class="bestproduct" (click)="clickButton()">          
          <div class="card mb-4 box-shadow">
            <img class="card-img-top" src="https://images.unsplash.com/photo-1521478706270-f2e33c203d95?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80" alt="Card image cap">
            <div class="card-body">
              <p class="card-text">Akıllı pembe renk saat</p>
              
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star unchecked"></span>
              <span class="fa fa-star unchecked"></span>
              <div class="d-flex justify-content-between align-items-center" style="float: right;">
                <p class="amount">150 TL</p>
                </div>
           
            </div>
          </div>
          </button>
        </div>
        <div class="col-md-3">
          <button class="bestproduct" (click)="clickButton()">          
          <div class="card mb-4 box-shadow">
            <img class="card-img-top" src="https://images.unsplash.com/photo-1521478706270-f2e33c203d95?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80" alt="Card image cap">
            <div class="card-body">
              <p class="card-text">Akıllı pembe renk saat</p>
              
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star unchecked"></span>
              <span class="fa fa-star unchecked"></span>
              <div class="d-flex justify-content-between align-items-center" style="float: right;">
                <p class="amount">150 TL</p>
                </div>
           
            </div>
          </div>
          </button>
        </div>
        <div class="col-md-3">
          <button class="bestproduct" (click)="clickButton()">          
          <div class="card mb-4 box-shadow">
            <img class="card-img-top" src="https://images.unsplash.com/photo-1521478706270-f2e33c203d95?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80" alt="Card image cap">
            <div class="card-body">
              <p class="card-text">Akıllı pembe renk saat</p>
              
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star unchecked"></span>
              <span class="fa fa-star unchecked"></span>
              <div class="d-flex justify-content-between align-items-center" style="float: right;">
                <p class="amount">150 TL</p>
                </div>
           
            </div>
          </div>
          </button>
        </div>
        <div class="col-md-3">
          <button class="bestproduct" (click)="clickButton()">          
          <div class="card mb-4 box-shadow">
            <img class="card-img-top" src="https://images.unsplash.com/photo-1521478706270-f2e33c203d95?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80" alt="Card image cap">
            <div class="card-body">
              <p class="card-text">Akıllı pembe renk saat</p>
              
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star unchecked"></span>
              <span class="fa fa-star unchecked"></span>
              <div class="d-flex justify-content-between align-items-center" style="float: right;">
                <p class="amount">150 TL</p>
                </div>
           
            </div>
          </div>
          </button>
        </div>
  
        <div class="col-md-3">
          <button class="bestproduct" (click)="clickButton()">          
          <div class="card mb-4 box-shadow">
            <img class="card-img-top" src="https://images.unsplash.com/photo-1521478706270-f2e33c203d95?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80" alt="Card image cap">
            <div class="card-body">
              <p class="card-text">Akıllı pembe renk saat</p>
              
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star unchecked"></span>
              <span class="fa fa-star unchecked"></span>
              <div class="d-flex justify-content-between align-items-center" style="float: right;">
                <p class="amount">150 TL</p>
                </div>
           
            </div>
          </div>
          </button>
        </div>
        <div class="col-md-3">
          <button class="bestproduct" (click)="clickButton()">          
          <div class="card mb-4 box-shadow">
            <img class="card-img-top" src="https://images.unsplash.com/photo-1521478706270-f2e33c203d95?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80" alt="Card image cap">
            <div class="card-body">
              <p class="card-text">Akıllı pembe renk saat</p>
              
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star unchecked"></span>
              <span class="fa fa-star unchecked"></span>
              <div class="d-flex justify-content-between align-items-center" style="float: right;">
                <p class="amount">150 TL</p>
                </div>
           
            </div>
          </div>
          </button>
        </div>
        <div class="col-md-3">
          <button class="bestproduct" (click)="clickButton()">          
          <div class="card mb-4 box-shadow">
            <img class="card-img-top" src="https://images.unsplash.com/photo-1521478706270-f2e33c203d95?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80" alt="Card image cap">
            <div class="card-body">
              <p class="card-text">Akıllı pembe renk saat</p>
              
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star unchecked"></span>
              <span class="fa fa-star unchecked"></span>
              <div class="d-flex justify-content-between align-items-center" style="float: right;">
                <p class="amount">150 TL</p>
                </div>
           
            </div>
          </div>
          </button>
        </div>
  
        <div class="col-md-3">
          <button class="bestproduct" (click)="clickButton()">          
          <div class="card mb-4 box-shadow">
            <img class="card-img-top" src="https://images.unsplash.com/photo-1521478706270-f2e33c203d95?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80" alt="Card image cap">
            <div class="card-body">
              <p class="card-text">Akıllı pembe renk saat</p>
              
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star unchecked"></span>
              <span class="fa fa-star unchecked"></span>
              <div class="d-flex justify-content-between align-items-center" style="float: right;">
                <p class="amount">150 TL</p>
                </div>
           
            </div>
          </div>
          </button>
        </div>
        <div class="col-md-3">
          <button class="bestproduct" (click)="clickButton()">          
          <div class="card mb-4 box-shadow">
            <img class="card-img-top" src="https://images.unsplash.com/photo-1521478706270-f2e33c203d95?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80" alt="Card image cap">
            <div class="card-body">
              <p class="card-text">Akıllı pembe renk saat</p>
              
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star unchecked"></span>
              <span class="fa fa-star unchecked"></span>
              <div class="d-flex justify-content-between align-items-center" style="float: right;">
                <p class="amount">150 TL</p>
                </div>
           
            </div>
          </div>
          </button>
        </div>
     
      </div>
    </div>
  </div>

</div>
