<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="styles.css">
	<script src="https://kit.fontawesome.com/b99e675b6e.js"></script>
</head>
<body>
    <div class="main_content">
        <div class="header">  Welcome to sales page!
     
         </div>  
         
        <table>
            <tr>
                <th><div class="col-7 box-shadow">Product</div></th>
                <th><div class="col-7 box-shadow">Description</div></th>
                <th><div class="col-7 box-shadow">Color</div></th>
                
                <th><div class="col-7 box-shadow">Type</div></th>
                <th><div class="col-7 box-shadow">Price</div></th>
                <th><div class="col-7 box-shadow">Rating</div></th>
                <th><div class="col-7 box-shadow">Customer Name</div></th>
                <th><div class="col-7 box-shadow">Customer Surname</div></th>
                <th><div class="col-7 box-shadow">Customer Email</div></th>
                <th><div class="col-7 box-shadow">Date of Sale</div></th>
                <th><div class="col-7 box-shadow">How many product ssold</div></th>
            </tr>
            <tr *ngFor="let item of salesDetail">
                <td>
                    <div class="col-7 box-shadow">
                        <img class="colseven"  src="{{item.ImageURL}}">
                    </div>
                </td>
                <td> <div class="element"> {{item.ProductDescription}} </div> </td>
                <td> <div class="element"> {{item.Color}} </div> </td>
                
                <td> <div class="element"> {{item.Type}} </div> </td>
                <td> <div class="element"> ${{item.Price}} </div> </td>
                <td class="element"><div *ngFor="let number of [0,1,2,3,4];let i = index" style="display: inline;">
                    <span *ngIf="i<item.Rating" class="fa fa-star checked"></span>
                    <span *ngIf="i>=item.Rating" class="fa fa-star unchecked"></span>
                </div></td>
                <td> <div class="element"> {{item.CustomerName}}</div> </td>
                <td> <div class="element"> {{item.CustomerSurname}} </div> </td>
                <td> <div class="element"> {{item.CustomerEmail}} </div> </td>
                <td> <div class="element"> {{item.SalesDate| date:'MM/dd/yyyy' }} </div> </td>
                <td> <div class="element"> {{item.Howmanyproductssold}} </div> </td>
               
            </tr>
            <tr>
                <th><div class="col-7 box-shadow">Toplam</div></th>
                <th></th>
                <th></th>
                <th></th>
               
                <th><div class="element">${{totalSales}}</div></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                
                <th><div class="element">{{salesDetail.length}}</div></th>
            </tr>
    </table>



   

</div>
</body>
</html>
